.container {
    display: flex;
}

h2 {
    flex: 1;
}

.form {
    flex: 2;
}

.rowContainer {
    display: flex;
    gap: 32px;
}

.inputWrapper {
    margin-bottom: 24px;
}

@media only screen and (max-width: 586px) {

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}